.about {
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  background-color: #0f1c24;
  gap: 20px;
}

.title {
  background-color: transparent;
  color: #ffb75e;
  font-size: 2rem;
  margin-bottom: 20px;
}
