.passion {
  text-align: center;
  margin: 40px auto;
  width: 80%;
  position: relative;
}

.carousel {
  position: relative;
  overflow: hidden;
  margin: auto;
  height: 400px; /* Donne une hauteur fixe */
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  z-index: 10;
}

button.prev:hover, button.next:hover { background-color: rgba(0,0,0,0.8); }
button.prev { left: 10px; }
button.next { right: 10px; }